body {
    position: relative;
    height: 950px;
}

.logo {
    background-color: yellow;
    height: 10%;
}

.barra {
    height: 5%;
    background-color: green;
}

.div-medio {
    height: 75%;
}

.propaganda {
    background-color: salmon;
    height: 100%;
    width: 20%;
    float: right;
}

.principal {
    background-color: blue;
    height: 100%;
    width: 80%;
    float: right;
}

.secciones {
    background-color: violet;
    /* position: relative; */
    margin: 10px;
    height: 30%;
    width: 98%;
}

.articulos {
    background-color: grey;
    height: 25%;
    margin: 5px 20px;
}

.pie {
    background-color: purple;
    height: 10%;
}